/* Custom Properties */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
:root {
  --blanco: #ffffff;
  --morado-primario: #915480;
  --morado-secundario: #b58ce7;
  --morado-fuerte: #551ddd;
}

html,
body {
  background-color: var(--morado-primario);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Utilities */

.bg-bazapp {
  background-color: var(--morado-primario);
}

.container-form {
  max-width: 1020px;
  margin: 0 auto;
}

.mt-navbar {
  margin-top: 8rem;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  margin-top: 15vh;
}

input[type="text"]:focus {
  outline: none; /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px #915480; /* Full freedom. (works also with border-radius) */
}

textarea:focus {
  outline: none;
  background-color: var(--morado-primario);
  box-shadow: 0 0 0 2px #915480; /* Full freedom. (works also with border-radius) */
}

.titulo_morado {
  color: var(--morado-primario);
}

.bg-mas {
  width: 15px;
}

.linea-input {
  outline: #915480 solid 3px;
}

.btn {
  margin-right: 30px;
}

.w-18 {
  width: 18rem;
}

.text-bazapp {
  color: var(--morado-primario) !important;
}

.text-bazapp-fuerte {
  color: var(--morado-fuerte);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: var(--morado-primario);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: var(--morado-primario);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}
