/* Custom Properties */

:root {
  --blanco: #ffffff;
  --morado-primario: #915480;
}

html,
body {
  background-color: var(--morado-primario);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Utilities */

.bg-bazapp {
  background-color: var(--morado-primario);
}

.container-form {
  max-width: 1020px;
  margin: 0 auto;
}

.mt-navbar {
  margin-top: 8rem;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  margin-top: 15vh;
}

input[type=text]:focus{
  outline: none;      /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px #915480; /* Full freedom. (works also with border-radius) */
}

textarea:focus{
  outline: none;
  background-color: var(--morado-primario);
  box-shadow: 0 0 0 2px #915480; /* Full freedom. (works also with border-radius) */
}

.titulo_morado{
  color: var(--morado-primario);
}

.bg-mas{
  width: 15px;
}

.linea-input{
  outline:#915480 solid 3px;
}